fastapi # framework
uvicorn # serwer ASGI
sqlalchemy # ORM
jinja2 # szablony HTML
aiofiles  # potrzebne do serwowania statycznych plików
python-multipart  # jeśli potem chcesz formularze
gunicorn  # serwer produkcyjny
passlib[bcrypt] # do haszowania haseł
python-jose  # do obsługi JWT
pydantic[email]  # do walidacji emaili
python-dotenv # do obsługi plików .env
psycopg2-binary # sterownik PostgreSQL
fernet  # do szyfrowania danych
cryptography  # do szyfrowania danych
dotenv # do ładowania zmiennych środowiskowych
passlib==1.7.4
bcrypt==4.0.1
